<div class="spell-book-container">
  <!-- This will just be a container for other parts -->
  <section class="spell-book-content" role="main" aria-label="{{localize 'SPELLBOOK.UI.SpellList'}}">
  </section>

  <!-- Footer container for collapsed sidebar -->
  <div class="collapsed-footer hidden" role="complementary" aria-label="{{localize 'SPELLBOOK.UI.SpellPreparation'}}">
  </div>
</div>
