<div class="spell-manager-footer">
	{{#if activeList}}
		<button type="button" class="dialog-button save-list" data-action="saveList">
			<i class="fas fa-save"></i> {{localize "spell-book.ui.saveList"}}
		</button>
		<button type="button" class="dialog-button delete-list" data-action="deleteList">
			<i class="fas fa-trash"></i> {{localize "spell-book.ui.deleteList"}}
		</button>
	{{/if}}
</div>
