<div class="spell-book-container">
  <!-- Sidebar section with the toggle button embedded -->
  <div class="sidebar card">
    <!-- Move the toggle button inside the sidebar div -->
    <button type="button" class="sidebar-collapser collapser vertical unbutton interface-only"
      data-action="toggleSidebar" data-tooltip="{{localize 'SPELLBOOK.UI.ToggleSidebar'}}" aria-label="Toggle Sidebar">
      <i class="fas fa-caret-left"></i>
    </button>

    {{> "modules/spell-book/templates/spell-book-sidebar.hbs"}}

    <!-- The footer will be rendered here when sidebar is open -->
    <div class="sidebar-footer-container"></div>
  </div>

  <!-- Main content -->
  <section class="spell-book-content">
    {{> "modules/spell-book/templates/spell-book-list.hbs"}}
  </section>

  <!-- Container for footer buttons when sidebar is collapsed -->
  <div class="collapsed-footer hidden"></div>
</div>
