<div class="spell-book-header">
	<div class="spell-stats">
		<span class="prepared-count">{{currentPrepared}}/{{maxPrepared}} {{localize "spell-book.ui.preparedSpells"}}</span>
	</div>
	<div class="spell-book-controls">
		<input type="text" name="search" placeholder="{{localize 'spell-book.ui.search'}}" class="spell-search">
	</div>
</div>
