<div class="spell-manager-container">
  <section data-application-part="classList"></section>
  <section data-application-part="spellList"></section>
  <section data-application-part="spellFinder"></section>
</div>
