<div class="spell-book-footer">
	<button type="button" class="dialog-button save-changes" data-action="saveChanges">
		<i class="fas fa-save"></i> {{localize "spell-book.ui.save"}}
	</button>
	<button type="button" class="dialog-button cancel" data-action="cancel">
		<i class="fas fa-times"></i> {{localize "spell-book.ui.cancel"}}
	</button>
</div>
