<div class="error-message" role="alert">
	<i class="fas fa-exclamation-triangle" aria-hidden="true"></i>
	<p>{{#if message}}{{message}}{{else}}{{localize 'SPELLBOOK.UI.ErrorOccurred'}}{{/if}}</p>
</div>
